@model SisAdot.Models.Pessoa.Pessoa

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Deseja apagar o registro desta pessoa ?</h3>
<div> 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @if (ViewBag.TipoPessoa.Equals(SisAdot.Enums.TipoPessoa.Fisica))
            {
                @Html.LabelFor(model => model.Documento, "CPF", htmlAttributes: new { @class = "control-label col-md-2" })
            }
            else
            {
                @Html.LabelFor(model => model.Documento, "CNPJ", htmlAttributes: new { @class = "control-label col-md-2" })
            }
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Documento)
        </dd>

        <dt>
            @if (ViewBag.TipoPessoa.Equals(SisAdot.Enums.TipoPessoa.Fisica))
            {
                @Html.LabelFor(model => model.Descricao, "Nome", htmlAttributes: new { @class = "control-label col-md-2" })
            }
            else
            {
                @Html.LabelFor(model => model.Descricao, "Nome Fantasia", htmlAttributes: new { @class = "control-label col-md-2" })
            }
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @if (ViewBag.TipoPessoa.Equals(SisAdot.Enums.TipoPessoa.Fisica))
            {
                @Html.LabelFor(model => model.ComplementoDoc, "RG", htmlAttributes: new { @class = "control-label col-md-2" })
            }
            else
            {
                @Html.LabelFor(model => model.ComplementoDoc, "Razão Social", htmlAttributes: new { @class = "control-label col-md-2" })
            }
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplementoDoc)
        </dd>
        @if (ViewBag.TipoPessoa.Equals(SisAdot.Enums.TipoPessoa.Fisica))
        {
            <dt>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataNascimento)
            </dd>
        }
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @if (ViewBag.TipoPessoa.Equals(SisAdot.Enums.TipoPessoa.Fisica))
            {
                @Html.ActionLink("EditFisica", "Edit", new { id = Model.PessoaID }, htmlAttributes: new { @class = "btn btn-primary" })
            }
            else
            {
                @Html.ActionLink("EditJuridica", "Edit", new { id = Model.PessoaID }, htmlAttributes: new { @class = "btn btn-primary" })
            }
        </div>
    }
</div>
