@model IEnumerable<SisAdot.Models.Animal.AnimalViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idade)
        </th>
        <th>
            Porte
        </th>
        <th>
            Raça
        </th>
        <th>
           Situação
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Resenha)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TamanhoAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RacaAnimal)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Situacao)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Resenha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Foto)
                </td>*@
            @*@if (item.Foto != null)
                {
                    <td>
                        @{
                            var base64 = Convert.ToBase64String(item.Foto);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        }
                        <img src='@imgSrc' style="max-width:100px; max-height:100px;" />
                    </td>
                }*@
            <td>
                @Html.ActionLink("Edit", "Edit", "Animal", new { id = item.AnimalID }, new { @class = "btn btn-primary" })
                @*@Html.ActionLink("Details", "Details", "Animal", new { id = item.AnimalID }, new { @class = "btn btn-primary" })*@
                @Html.ActionLink("Delete", "Delete", "Animal", new { id = item.AnimalID }, new { @class = "btn btn-primary" })

                @if (!Session["UsuarioID"].ToString().Equals(item.UsuarioID.ToString()))
                {
                    @Html.ActionLink("Adotar", "Adotar", "Animal", new { id = item.AnimalID },
                   new { @class = "btn btn-primary", onclick = "return confirm('Deseja adotar o animal ?');" } )
                }
            </td>
        </tr>
    }
</table>
