@model IEnumerable<SisAdot.Models.FichaCastracaoViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Data Consulta
        </th>
        <th>
            Previsão da Saída
        </th>
        <th>
            Animal
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSaida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAnimal)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "FichaCastracao", new { id = item.CastracaoID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Details", "Details", "FichaCastracao", new { id = item.CastracaoID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", "FichaCastracao", new { id = item.CastracaoID }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>
