@model IEnumerable<SisAdot.Models.FichaCastracaoViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.ActionLink("Agendar nova consulta", "Create")</h2>

<h3>
    Consultas disponíveis
    @*@Html.ActionLink("Agendar nova consulta", "Create")*@
</h3>
<hr />
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                Data Consulta
            </th>
            <th>
                Previsão da Saída
            </th>
            <th>
                Animal
            </th>
            <th>
                Equipe Responsável
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSaida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEquipe)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", "FichaCastracao", new { id = item.CastracaoID }, new { @class = "btn btn-primary" })
                @*@Html.ActionLink("Details", "Details", "FichaCastracao", new { id = item.CastracaoID }, new { @class = "btn btn-primary" })*@
                @Html.ActionLink("Excluir", "Delete", "FichaCastracao", new { id = item.CastracaoID }, new { @class = "btn btn-primary", onclick = "return confirm('Deseja excluir a consulta ?');" })
                @*@Html.ActionLink("Desmarcar", "Desmarcar", "FichaCastracao", new { id = item.CastracaoID }, new { @class = "btn btn-primary", onclick = "return confirm('Deseja desmarcar a consulta ?');" })*@
            </td>
        </tr>
    }
</table>
