<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link rel="stylesheet" type="text/css" href="css/estilo.css" media="screen" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .navbar-inverse {
            background-color: #fff;
            border-color: #f2dede;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse-branca navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/index">
                    <img src="~/img/logo.svg" width="100" height="30" alt="" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["Perfil"].Equals(SisAdot.Enums.PerfilUsuario.Administrador))
                    {
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Controle de Usuários
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Usuários", "Index", "Usuario")</li>
                                <li>@Html.ActionLink("Criar Usuário", "Create", "Usuario")</li>
                            </ul>
                        </li>
                    }
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Castração<span class="caret"></span> </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Consultar Castrações", "Index", "FichaCastracao")</li>
                            <li>@Html.ActionLink("Agendar Castração", "Create", "FichaCastracao")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Animais <span class="caret"></span> </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Cadastrar Animal", "Create", "Animal")</li>
                            <li>@Html.ActionLink("Meus Animais", "Index", "Animal")</li>
                            <li>@Html.ActionLink("Animais para doação", "AnimaisDoacoes", "Animal")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Cadastro de Pessoa
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Física", "EditFisica", "Pessoa")</li>
                            <li>@Html.ActionLink("Jurídica", "EditJuridica", "Pessoa")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Endereço", "Edit", "Endereco")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @Html.Partial("_Notifications")
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Seja um Herói</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>